@model RHCRUD.Models.Capacitacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar capacitación</h1>


<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de la capacitación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCapacitacion)
        </dd>
        <dt class = "col-sm-2">
            Descripción de la capacitación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionCapacitacion)
        </dd>
        <dt class = "col-sm-2">
            Fecha de ingreso
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCapacitacion)
        </dd>
    </dl>
    
    <form asp-action="Delete" id="deleteForm" onsubmit="return confirmDelete()">
        <input type="hidden" asp-for="IdCapacitacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Volver a la lista</a>
    </form>
</div>
@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            return confirm("¿Estás seguro(a) de eliminar esta capacitación? Al eliminar del sistema esta capacitación, se eliminarán todos los colaboradores asociadas a ella.");
        }
    </script>
}